body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: #000;
}

header {
  background-color: white;
  padding: 20px 40px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo-esquerda h1 {
  margin: 0;
  font-size: 24px;
  color: black;
}

.logo-central {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  max-height: 80px;
}

.menu-direita ul {
  list-style: none;
  display: flex;
}

.menu-direita ul li {
  margin-left: 20px;
}

.menu-direita a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.porsche-banner {
  height: 100vh;
  background: url(Porsche/Porsche\ Principal.webp) no-repeat center center/cover;
  width: 100%;
}
.AMG-banner {
  height: 100vh;
  background: url(AMG/Mercedes.png) no-repeat center center/cover;
  width: 100%;
}

.BMW-banner {
  height: 100vh;
  background: url(BMW/BMW1.jpg) no-repeat center center/cover;
  width: 100%;
}

.AUDI-banner {
  height: 100vh;
  background: url(Audi/R8\ 1.jpg) no-repeat center center/cover;
  width: 100%;
}


.modelo {
  text-align: center;
  padding: 40px 20px;
}

.modelo h2 {
  font-size: 32px;
  color: black;
  margin: 0;
}

.especificacoes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 40px;

}

.dados-carro {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 250px;
  font-size: 16px;
  box-shadow: 0 2px 6px rgba(212, 26, 26, 0.1);
}

.dados-carro p {
  margin-bottom: 20px;
}

.dados-carro strong {
  font-size: 22px;
  display: block;
  margin-bottom: 5px;
}

.imagem-destaque img {
  max-width: 600px;
  width: 200%;
  border-radius: 8px;
}

.preco-galeria {
  text-align: center;
  padding: 40px 20px;
}

.preco-galeria h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.preco-galeria h4 {
  font-size: 22px;
  margin-bottom: 30px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 850px;
  margin: 0 auto;
}

.galeria img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.galeria img:last-child {
  grid-column: 1 / -1;
  max-width: 500px;
  justify-self: center;
}

footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}
